/*=Fonts*/
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900');
/*=Fin Fonts*/

* { font-family: 'Roboto', sans-serif;
 }



/*=NAV*/

mark {
	background-color:rgba(239, 223, 49, 0.5) ;
}

main header h1 {
    margin: 0;
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
}

.overlay.visible {
    opacity: 1;
}

#nav-main {
    width: 250px;
    height: 100%;
    position: fixed;
    left: -250px;
    z-index: 2;
    background: #fff;
    transition: all 0.3s;
}

#nav-main.open {
    left: 0;
}

#nav-main ul {
    padding: 90px 0 0 0;
    list-style: none;
}

#nav-main .listnav1 li {
    margin: 10px 24px;
    padding-top: 15px;
}

#nav-main .listnav1 li a{
	text-decoration: none;
	color:#2a4789;
	text-transform: uppercase;
	padding: 20px 0 0 10px;
	font-size: 20px;
	margin-top: 20px;

}

#nav-main .listnav1 li a:hover {
	color:#efdf31;
}

#nav-main  hr{ width: 140px; border-top: 2px solid #efdf31; margin-top: 30px; }


#nav-button {
    display: block;
    position: fixed;
    top: 8px;
    left: 8px;
    z-index: 3;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 48px;
    height: 48px;
    font-size: 0;
    text-indent: -9999px;
    background: #262626;
    appearance: none;
    border-radius: 50%;
    border: none;
    box-shadow: 0 0 0 2px #262626;
    cursor: pointer;
    transition: box-shadow 0.3s, transform 0.3s;
}

#nav-button.hidden {
    transform: translateY(-68px);
}

#nav-button:focus {
    outline: none;
}

#nav-button span {
    display: block;
    position: absolute;
    top: 23px;
    left: 16px;
    right: 16px;
    height: 2px;
    background: #fff;
}

#nav-button span::before,
#nav-button span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    content: "";
}

#nav-button span::before {
    top:-6px;
}

#nav-button span::after {
    bottom: -6px;
}

/* =MENU ANIMATION */
#nav-button span {
    transition: transform 0.3s;
    
}

#nav-button span::before {
    transform-origin: top right;
    transition: transform 0.3s, width 0.3s, top 0.3s;
    

}

var { color:#2a4789; font-style: none; }

#nav-button span::after {
    transform-origin: bottom right;
    transition: transform 0.3s, width 0.3s, bottom 0.3s;
    
}

/*=MENU OUVERT */
#nav-button.open {
    box-shadow: none;
}

#nav-button.open span {
    transform: rotate(180deg);

}

#nav-button.open span::before,
#nav-button.open span::after {
    width: 50%;
}

#nav-button.open span::before {
    top: 0;
    transform: translateX(6px) translateY(1px) rotate(45deg);
}

#nav-button.open span::after {
    bottom: 0;
    transform: translateX(6px) translateY(1px) rotate(-45deg);

}

#nav-main ul .listnav2 li {color:red; margin-bottom:1px; margin-left: -20px; text-align: center; color:#2a4789;}


/*BANNIERE*/
#home .banner{
    background-image:url(../images/home-pattern.png), url(../images/bg2.jpg);
    background-repeat: repeat, no-repeat;
    background-size: auto, cover;
    background-position: center center;
    height: 100%;
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    margin:0;
    padding:0;
    font-family: 'Arvo', serif;
}

#home .banner .container .col-md-1 img { height: 60px; width: 160px;position: relative; top: -200px; }

#home .banner .container img{
    height: 100px;
    width: 100px;
}

#home .banner .container h1{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 80px;
    color:#F3E036;
    letter-spacing: 6px;
    font-family: 'Source Sans Pro', sans-serif;
}

.points {
    display:block;
    width:710px;
    height: 1px;
    background:url(../images/border-logo.png) repeat-x left center;
    margin: 4px auto 15px auto;
}

#home .banner .container h2{ font-size: 15px;
    color:#fff; 
    text-transform: uppercase;
    font-weight: bold;}

    #home .banner .container h2 span {color:#F3E036; }

/*====================== PRESENTATION DE LA PROMO ==================================
*/

#presentation {
    margin-top: 40px;
}
#presentation p ul {
    font-family: 'Noto Sans', sans-serif;

}
#presentation .rectangle-video {
        margin-top: 45px;
}


#presentation .container h1 {
        font-size: 41px; color:#2a4789; text-transform: uppercase; font-weight: bold;
}

#presentation hr {width: 10%; padding-bottom: 50px; margin-left: 0; border-top: 4px solid #efdf31; margin-bottom: 0; padding-bottom: 40px;}

/*====================== PRESENTATION APPRENANTS ==================================
*/

#apprenants {
    margin-top: 50px;
}
#apprenants .introApprenants { padding-top: 50px; }

#apprenants .introApprenants h1 {font-size: 41px; color:#2a4789; text-transform: uppercase; font-weight: bold; }

#apprenants hr { width: 10%; padding-bottom: 50px; margin-left: 0; border-top: 4px solid #efdf31; margin-bottom: 0; padding-bottom: 40px;}

    .profils-item{
      text-align: center;
      border-radius: 5px;
      margin: 15px 10px;
    }
    .profils-item img{
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: 3px solid #efdf31;
      margin: 10px 0px;
    }
    .profils-item h1{
      font-size: 20px;
      margin: 0px 0px; 
      color: #2a4789;
    }
    .profils-item .reseaux-sociaux{
      display: flex;
      position: center;
      justify-content: space-around;
    } 
    .profils-item .reseaux-sociaux a{
      color: red;
    }
    .profils-item .fa{
      margin-right: 20px;
      color: black;
    }

/*====================== PRESENTATION FORMATION ==================================
*/


#formation {
    margin-top: 50px; margin-bottom: 50px;
}
#formation  p ul{
    font-family: 'Noto Sans', sans-serif;
}
#formation .container h1 {font-size: 41px; color:#2a4789; text-transform: uppercase; font-weight: bold; padding-top: 50px; }

#formation hr { width: 10%; padding-bottom: 50px; margin-left: 0; border-top: 4px solid #efdf31; margin-bottom: 0; padding-bottom: 40px; }


/*====================== CONTACT ==================================
*/
#contact {
    background-color: #f2f2f2; margin-top: 50px;
}
#contact h1 {
    font-size: 41px; color:#2a4789; text-transform: uppercase; font-weight: bold;
}

#contact hr { width: 10%; margin-left: 0; border-top: 4px solid #efdf31; margin-bottom: 0; padding-bottom: 20px; }

#contact .col-md-6 {
    padding-left: 0;
}
.carte {width: 100%; height: 540px; background-color: blue;}
#map {
    height: 398px;
    width: 100%;
}
.googleMap {
    height: 500px;
    margin-top: 20px;
}

#contact button {
    background-color: #2a4789; font-weight: 700; color:white;
}

#contact button:hover{
    background-color: #243a6b;  
}

/*formulaire*/


.formulaire button {
    margin-top: 20px;
}

footer { height: 110px; background-color:#2a4789  }

footer .container .col-md-11 p { color:#fff; font-weight: bold; padding-top: 50px; }




/*button back to top*/
#gotop {
	position: fixed;
	bottom: 0.7em;
	right: 0.5em;
	text-decoration: none;
	color:#eda109 ;
	background-color: rgba(254, 254, 249, 0);
	font-size: 42px;
	padding: 0.7em;
	border-radius: 45px;
	display: none;
	
}

#gotop:hover {
	background-color: rgba(66, 134, 244, 0.25);
}
.fenetre{ position: fixed;
	top: 1em;
	left: 1em;
  text-align: center;
  color:#2a4789 ;
  font-size: 3.2em;
  background-color: rgba(254, 254,0, 0.15);
  border-radius: 40px;
  border: 1px dashed 'white';

}

